.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
}
.card {
  width: 40%;
  border: lightblue solid 3px;
  margin:  5px;
  padding: 5px;
  text-align: center;
}

.btn {
  width: 70%;
  height: 40px;
  margin: 10px 0;
  background-color: darkgray;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
}
.topThree {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.topThree  h2 {
  width: 50%;
  display: inline-block;
}

.letterContainer {
  display: flex;
}
.letterContainer p{
  width: 50%;
  border: solid black 2px;
  font-size: 20px;
}
.loader {
  margin:  0 auto;
}